@import url('https://fonts.googleapis.com/css?family=Poppins');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-container{
  background-color: #242735;
  .menu-tabs{
    .rc-tabs{
      width: 100% !important;      
      .rc-tabs-nav-list{
        margin-left: 100px;
        display: flex !important;
        height: 52px;
        .rc-tabs-tab{
          height: 52px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        .rc-tabs-tab-active{
          background-color: #242735;
        }
      }
      .rc-tabs-content-holder{
        width: 100%;
        .rc-tabs-tabpane-active{
          width: 100%;
        }
      }
    }
  }
}

.general-tabs{
  .rc-tabs-nav-wrap{
    height: 52px;
    border-bottom: #374151 solid 1px;
    .rc-tabs-nav-list{
      margin: 0 !important;
      // padding-top: 4px;
      display: flex !important;
      height: 52px;
      .rc-tabs-tab{        
        height: 48px;
        width: 120px ;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        color: gray;
        .rc-tabs-tab-btn{
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .rc-tabs-tab-active{
        background-color: transparent !important;
        border-bottom: 4px solid rgb(68, 68, 226);        
        padding-bottom: 6px;
        color: white;
      }
    }
  }
  .rc-tabs-nav-operations{
    display: none;
  }
}

.left-part{
  min-height: calc(100vh - 104px);
  max-height: calc(100vh - 104px);
  min-width: 280px;
  max-width: 280px;
  overflow-y: auto;
}

.right-part{
  min-height: calc(100vh - 104px);
  max-height: calc(100vh - 104px);
  width: 100%;  
  overflow-y: auto;
}

.Dropdown-root{
  width: 146px;
  .Dropdown-control{
    padding: 4px 30px 4px 10px;
    background-color: transparent;
    border-color: gray;
    .Dropdown-placeholder{
      color:white;
    }
    .Dropdown-arrow-wrapper{
      align-items: center;
    }
  }
  .Dropdown-menu{
    overflow: visible;
    border: 0px solid black;
    border-radius: 5px;
    background-color: black;
    .Dropdown-option{
      color:white;
      &:hover{
        background-color: #374151;
      }      
    }
    .is-selected{
      background-color: #374151;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242735;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}